<div class="card" style="width: 50%">
  <div class="card-content">
    <header class="card-header space-between">
        <span class="fit-content second-color">Created/updated by <%= note.user.nickname %></span>
        <span class="fit-content second-color"><%= l(note.updated_at, format: "%Y-%m-%d %H:%M:%S") %></span>
      </header>
    <div class="card-content">
      <div class="content">
        <%= note.body %>
      </div>
      <footer class="card-footer flex-right">
        <%= link_to "Edit this post", edit_topic_note_path(note.topic, note), class: "card-footer-item button small-margin-left is-warning" %>
        <%= link_to "Destroy this post", topic_note_path(note.topic, note), data: { turbo_method: :delete, turbo_confirm: 'You want to remove this note?' }, class: "card-footer-item button small-margin-left is-danger" %>
      </footer>
    </div>
  </div>
</div>
